<div *ngIf="showModal" class="modal-backdrop">
  <div class="modal-content">
    <i class="fa-solid fa-plus" (click)="close()"></i>
    <div class="contact-form-container">
      <div class="contact-title">
        <h1 class="white-title">Contact</h1>
        <h1 class="purple-title">Me.</h1>
      </div>
      <div class="form">
        <form (ngSubmit)="submitForm()">
          <label for="name">What is your name?</label>
          <input [(ngModel)]="name" type="text" id="name" size="19" name="name" required placeholder="Your name">
          <label for="email">What is your email?</label>
          <input [(ngModel)]="email" type="email" id="email" name="email" required placeholder="Your email">
          <label for="message">Write your message here:</label>
          <textarea [(ngModel)]="message" id="message" name="message" rows="4" placeholder="Your message"></textarea>
          <button type="submit">Submit</button>
        </form>  
      </div>
    </div>
  </div>
</div>
