<div class="hero-banner">
  <div class="hero-background"></div>
  <div class="about-wrapper">
    <div class="about-me">
      <h2>Hello, world!</h2>
      <h1>I am Amanda,</h1>
      <span class="typing"></span>
      <h6>I am a full-stack developer with a strong focus on frontend development. From crafting intuitive interfaces to building complete UIs, I bring designs to life with efficiency and precision, ensuring they meet both user needs and strategic goals.</h6>
      <div class="buttons-section">
        <a href="https://drive.google.com/file/d/12hNyro-uD2oK8UmKc7oWk9x1bf-cUGtJ/view?usp=drive_link" target="_blank">
          <button class="cfa">DOWNLOAD CV</button>
        </a>
        <a href="https://www.linkedin.com/in/amandaarnautalliegro/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>
