<div class="hero-banner">
  <div class="hero-background"></div>
  <div class="about-wrapper">
    <div class="about-me">
      <h2>Hello, world!</h2>
      <h1>I am Amanda, Full Stack Developer</h1>
      <h6>I am a full-stack developer with a strong focus on frontend development. From crafting intuitive interfaces to building complete UIs, I bring designs to life with efficiency and precision, ensuring they meet both user needs and strategic goals.</h6>
      <div class="buttons-section">
        <button class="cfa">DOWNLOAD CV</button>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
  </div>
</div>
