@mixin responsive($breakpoint)
  @if $breakpoint == 'tablet'
    @media (max-width: 991px)
      @content

  @else if $breakpoint == 'mobile'
    @media (max-width: 480px)
      @content



.testimonials
  display: flex
  flex-wrap: wrap
  gap: 20px
  justify-content: center
  position: relative
  align-items: stretch
  width: 100vw 

  @include responsive('tablet')
    flex-direction: column // Stack items vertically
    align-items: center // Center items horizontally

  h3
    position: absolute
    left: 15%
    top: 94%
    width: 10% 
    color: #c4c4c4
    transform: translateY(-50%) rotate(-90deg)
    transform-origin: left center
    white-space: nowrap
    margin: 0
    padding: 10px 0
    margin-right: 20px

    @include responsive('tablet')
      position: absolute
      top: -5%
      left: 50%
      width: 100%
      transform: translateX(-50%) translateY(0)
      transform-origin: center center
      white-space: normal
      text-align: center

.shade-left
  position: absolute
  left: 13%
  top: 0
  width: 85px
  height: 100%
  background: rgb(48,48,48)
  background: linear-gradient(90deg, rgba(48,48,48,1) 35%, rgba(48,48,48,0.85) 52%, rgba(48,48,48,0.7) 62%, rgba(48,48,48,0.4) 85%, rgba(48,48,48,0.004) 100%)
  z-index: 10
  pointer-events: none /* Allow clicks to pass through to testimonials-cards */

  @include responsive('tablet')
    position: relative
    z-index: 0
    top: 0%
    left: 50%
    width: 100%
    background: none
    transform: translateX(-50%) translateY(0)
    transform-origin: center center
    white-space: normal
    text-align: center
    margin-bottom: 70px
    

.shade-right
  position: absolute
  right: 10%
  top: 0
  width: 105px
  height: 100%
  background: rgb(48,48,48)
  background: linear-gradient(-90deg, rgba(48,48,48,1) 35%, rgba(48,48,48,0.85) 52%, rgba(48,48,48,0.7) 62%, rgba(48,48,48,0.4) 85%, rgba(48,48,48,0.004) 100%)
  z-index: 10
  pointer-events: none /* Allow clicks to pass through to testimonials-cards */

  @include responsive('tablet')
    display: none


.testimonial-card
  display: flex
  flex-wrap: nowrap /* Prevent wrapping to keep them in a single row */
  justify-content: flex-start /* Align cards to the left */
  overflow-x: auto /* Allows horizontal scrolling */
  width: 70%
  margin-left: 55px
  position: relative

  @include responsive('tablet')
    width: 80% // Adjust as needed for centralization
    margin-bottom: 20px // Add space between cards
    margin-left: 30px
    
    @include responsive('mobile')
    width: 100% // Adjust as needed for centralization
    margin-bottom: 20px // Add space between cards
    margin-left: 10px

.hire
  display: flex // Use flexbox for centering
  flex-direction: column // Stack the h6 and button vertically
  align-items: center // Center items horizontally
  justify-content: center // Center items vertically
  text-align: center // Center align the text in the container

  h5
    color: white
    width: 40%
    text-align: center // Center align the text
    margin-bottom: 20px // Add some space between the text and button
    margin-top: 20px

    @include responsive('tablet')
      width: 75%

  .lets-title
    margin-top: 60px

  .personal-info
    width: 83%
    margin-top: 60px
    border-radius: 10px 10px 0 0
    background-color: #474747
    padding: 40px


    button
      // background: linear-gradient(to right, rgba(89, 0, 255), rgb(154, 153, 244))
      background: transparent
      border-radius: 4px
      border: 2px solid rgb(154, 153, 244)
      color: rgb(154, 153, 244)
      padding: 5px 15px
      height: 40px
      margin: 20px 0px
      font-size: 15px
      cursor: pointer
      text-align: center

    h6
      color: white
      padding-top: 10px

  h2
    color: white

  h3
    color: #c4c4c4

  .fa-chess-queen
    color: #a880f1
    font-size: 45px
    padding-bottom: 45px

  .fa-envelope,
  .fa-linkedin
    color: rgb(154, 153, 244)
    margin: 10px
    font-size: 25px
    cursor: pointer

button
  background: linear-gradient(to right, rgba(89, 0, 255), rgb(154, 153, 244))
  border-radius: 4px
  font-weight: 600
  border: 2px solid #c4c4c4
  color: white
  padding: 5px 15px
  height: 40px
  margin: 20px 0px
  font-size: 15px
  cursor: pointer
  text-align: center // Center align text within the button

.testimonials-cards
  display: flex
  flex-wrap: nowrap /* Prevent wrapping to keep them in a single row */
  justify-content: space-between /* Distribute space evenly between cards */
  overflow-x: auto /* Allows horizontal scrolling if needed */
  width: 75% 
  margin-left: 55px
  padding-right: 85px
  padding-left: 10px 
  padding-bottom: 20px

  @include responsive('tablet')
    width: 100% // Adjust as needed for centralization
    display: flex
    flex-direction: column
    margin-bottom: 20px // Add space between cards
    margin-left: 0px
    justify-content: space-around
    overflow: visible
    margin-left: 30px
    transform: translateX(2%) translateY(0)
  


.testimonial-card
  flex: 0 0 auto /* Prevent cards from shrinking or growing */
  width: 40% /* Adjust this width based on how many cards you want visible at once */

  @include responsive('tablet')
    width: 100% // Adjust as needed for centralization
    margin-bottom: 20px 
    // Add space between cards

/* Webkit Browsers */
::-webkit-scrollbar 
  width: 8px
  height: 8px


::-webkit-scrollbar-track 
  background: #434343
  border-radius: 10px


::-webkit-scrollbar-thumb 
  background: rgba(89, 0, 255, .6)
  border-radius: 10px


::-webkit-scrollbar-thumb:hover 
  background: rgba(89, 0, 255, .8)


/* Firefox */
html 
  scrollbar-width: thin
  scrollbar-color: rgba(89, 0, 255, .6) #434343

