<div class="testimonials row">
  <h3>Words from Colleagues</h3>
  <app-testimonials-card
    *ngFor="let testimonial of testimonials"
    class="col-lg-4 testimonial-card"
    [name]="testimonial.name"
    [job]="testimonial.job"
    [date]="testimonial.date"
    [company]="testimonial.company"
    [text]="testimonial.text"
    [best]="testimonial.best"
    [picture]="testimonial.picture"
  ></app-testimonials-card>
</div>
<div class="hire">
  <h2 class="lets-title">Let's work together!</h2>
  <h5>Building trust is at the heart of every successful partnership. As your dedicated development partner, I prioritize your vision and protect your intellectual property with the utmost care. Let's create something exceptional together.</h5>
  <button (click)="openModal()" >HIRE ME</button>
  <div class="personal-info">
    <i class="fa-solid fa-chess-queen"></i>
    <h6>Designed and Developed by:</h6>
    <h2>Amanda Arnaut Alliegro</h2>
    <h3>Full Stack Developer</h3>
    <a href="https://drive.google.com/file/d/12hNyro-uD2oK8UmKc7oWk9x1bf-cUGtJ/view?usp=drive_link" target="_blank">
      <button>DOWNLOAD CV</button>
    </a>
    <h6>Say hello:</h6>
    <div class="icons">
      <i (click)="openModal()" class="fa-solid fa-envelope"></i>
      <a href="https://www.linkedin.com/in/amandaarnautalliegro/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <h6>I hope you enjoyed this very first version of my Portfolio!</h6>
    <h6>2024</h6>
  </div>
</div>
